@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap");

:root{
  --btn-color:rgb(74 68 68);
  --p-color:rgb(112, 110, 110);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
section {
  margin: 0 10rem;
  height: 100vh;
}
/* Navbar Section  */
/* #profile-def{
  position: sticky;
  top: 0;
} */

#navbarSupportedContent{
  position: relative; 
  z-index: 1;
}
.logo {
  font-size: 2rem;
  padding: 0 1.5rem;
}
.navbar-links,
nav {
  display: flex;
  justify-content: center;

}
.navbar-links {
  margin: 0 1rem;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}
ul li {
  list-style: none;
  margin: 0 1rem;
}
ul li a {
  text-decoration: none;
  font-size: 1.6vw;
  color: black;
}
ul li a:hover {
  color: rgba(169, 169, 169, 0.804);
  text-decoration-line: underline;
  text-underline-offset: 1rem;
}

/* Arrow section */
.arrow {
  position: absolute;
  right: -125px;
  bottom: 50px;
}
.up-arrow{
  transform: rotate(-180deg);
  right: -125px;
  position: absolute;
  top: 50px;
}
/* profile section */
#profile {
  height: 85vh;
  position: relative;
}
#profile-h1 {
  font-weight: bolder;
  font-size: 2.5rem;
}
.profile-container {
  display: flex;
  justify-content: center;
  height: 80vh;
  gap: 5rem;
}
.img-container {
  margin: auto 0;
}
#img-about {
  border-radius: 2rem;
}
div > img {
  height: 400px;
  width: 400px;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.text-p {
  font-weight: bold;
  font-size: 1.4rem;
  color: rgb(112, 110, 110);
}
.p2-big {
  font-size: 1.7rem;
}
.text-h1 {
  font-weight: bolder;
  font-size: 2.5rem;
  text-decoration: underline;
  text-underline-offset: 1rem;
}
.button {
  border: 2px solid rgb(136 132 132);
  border-radius: 3rem;
  font-weight: bold;
  padding: 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  width: 8rem;
}
.first-btn {
  color: black;
  background: white;
}
.first-btn:hover {
  background-color: var(--btn-color);
  color: white;
  border: 2px solid var(--btn-color);
}
.second-btn {
  background-color: var(--btn-color);
  color: white;
  border: 2px solid var(--btn-color);
}
.second-btn:hover {
  background-color: rgb(0, 0, 0);
  border: 2px solid black;
}
.btn-container {
  display: flex;
  gap: 0.5rem;
}
.img-size {
  height: 2rem;
  cursor: pointer;
  margin: 0 0.3rem;
}


/* About section */
h1 {
  text-align: center;
}
#about {
  position: relative;
}
.section-p {
  text-align: center;
  font-size: 1rem;
  color: var(--p-color);
}
.block {
  display: block;
}
.about-img {
  height: 2rem;
  width: 2rem;
}
.about-detail {
  border: 2px solid rgb(183 183 183);
  border-radius: 2rem;
  flex: 1;
  text-align: center;
  padding: 1rem;
}
.section-container,
.details-container {
  display: flex;
  gap: 3rem;
}
.section-container {
  height: 85vh;
  justify-content: center;
  align-items: center;
}
.details-container {
  gap: 2rem;
}
.p-color {
  color: var(--p-color);
}
.text-contain {
  margin: 3rem 0;
}

/* Experience section */
#experience{
  position: relative;
}
.head-section {
  padding: 1rem;
}
.h2-ex{
  color: rgb(85, 85, 85);
  text-align: center;
  text-decoration-line: underline;
  text-underline-offset: 0.2rem;
  text-decoration-color: rgb(183 183 183);
}
.about-container-ex {
  display: flex;
  gap: 3rem;
}
.details-container-ex {
  border: 2px solid rgb(183 183 183);
  border-radius: 2rem;
  padding: 1.7rem;
  flex: 1;
}
.about-detail-ex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: center; */
}
article {
  display: flex;
  padding: 1.5rem;
  width: 50%;
}

/* Projects section */
#projects{
  position: relative;
}
.detail-container-pro{
  border: 2px solid rgb(183 183 183);
  border-radius: 2rem;
  padding: 1.7rem;
}
.about-container-pro,.about-detail-pro{
  display: flex;
}
.about-container-pro{
  gap: 2rem;
}
.about-detail-pro{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.ex-img{
  width: 90%;
  height: 90%;
  border-radius: 2rem;
}
.inner-pro{
  display: flex;
  gap: 1rem;
}
/* contact section */
#contact{
  position: relative;
}
.section-container-about {
  display: flex;
  gap: 3rem;
  min-height: 65vh;
  justify-content: center;
  align-items: center;
}
.con-image{
  width: 2rem;
  cursor:default;
}
.contact-img{
  height: 2rem;
}
.about-container-con{
  display: flex;
  border: 2px solid rgb(183 183 183);
  border-radius: 2rem;
  padding: 1.8rem;
  gap: 1rem;
}
.about-detail-con{
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
}
.about-detail-con a{
  text-decoration-color: white;
  text-decoration: none;
  color:black;
  font-size: 1.4rem;
  top: 5px;
    position: relative; 
}
.about-detail-con a:hover{
  color: rgb(183 183 183);
  text-decoration-line: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color:rgb(183 183 183) ;
}
.center-con{
text-align: center;
margin: 2rem 0;
}
.about-con{
  position: relative;
  display: flex;
  align-items: center;
}
/* transition section */
* {
  transition: all 300ms ease-in-out;
}
